.main {
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* text-align: end; */
  padding: 0.5rem 1rem;
}

.main a {
  color: inherit !important;
  text-decoration: inherit !important;
}
.main Button {
  margin: 0.5rem;
  font-weight: bold;
}
.info Button:hover {
  color: lightgreen !important;
}
.info span {
  color: grey;
}
.info {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* justify-content: center; */

}
.info span{
  min-width: 20%;
}

@media screen and (max-width : 1000px){
  .info span{
   min-width: inherit;
  }
}
@media screen and (max-width : 575px){
  .main{
    margin-top: 1rem;
  }
}
