.dropdown{
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: large;
}
.dropdownSec{
    max-height: 30rem;
    overflow: scroll;
}
a.headingLink
{
  text-decoration:none;
  color:#2c548c;

}
a.headingLink:hover{
    color: #3c78cb;
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 0.7px 0.8px 1px  rgba(0, 0, 0, 0.223) ;
}

@media screen and (max-width: 900px) {
    .dropdown{
        margin-left: 5px;
    }
}