.main{
    padding: 0 !important;
    margin-top: 3rem;
}
.content{
    display: flex;
}
.content p{
    font-size: large;
    margin: 1rem;
}
.content p i{
    font-size: larger;
}
.content p i:hover{
    cursor: pointer;
}
.classLight {
    color: rgb(249, 249, 249);
}