.navbar{
    padding: 10px;
}
.dropdown{
    max-height: 30rem;
    overflow: scroll;
    max-width: 13rem;
}
.main{
    margin-right: 1rem;
}
.subBrand:hover, .brand:hover{
    text-decoration: underline;
}
.active{
    font-size: large;
}
.brand h1 {
    font-size: x-large;
    margin: 0;
}